@import "tailwindcss";

@theme {
  --color-secondary: #D16D09;
  --color-darkbg: #1a1a1a;
  --background-image-gradient-cover: linear-gradient(135deg, #c94b4b, #4b134f);
}

html,body {
  color: #ffff;
  background: #1a1a1a;
}

main {
  height: 100vh;
  height: 100dvh;
}

 @layer utilities {
  .text-balanced {
    text-wrap: balance;
  }
}