@import "tailwindcss";

@theme {
  --color-secondary: #EBDC53;
  --color-darkbg: #1a1a1a;
  --background-image-gradient-cover: linear-gradient(130deg, rgb(0, 0, 0), rgb(255, 215, 0));
}

html,body {
  color: #ffff;
  background: #1a1a1a;
}

main {
  height: 100vh;
  height: 100dvh;
}

 @layer utilities {
  .text-balanced {
    text-wrap: balance;
  }
}